[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "badger"]
	path = badger
	url = https://github.com/guangchuangyu/badger
[submodule "dlstats"]
	path = dlstats
	url = https://github.com/guangchuangyu/dlstats
[submodule "emojifont"]
	path = emojifont
	url = https://github.com/guangchuangyu/emojifont
[submodule "ggplotify"]
	path = ggplotify
	url = https://github.com/guangchuangyu/ggplotify
[submodule "ggtangle"]
	path = ggtangle
	url = https://github.com/cran/ggtangle
[submodule "gson"]
	path = gson
	url = https://github.com/cran/gson
[submodule "hexSticker"]
	path = hexSticker
	url = https://github.com/guangchuangyu/hexsticker
[submodule "ivolcano"]
	path = ivolcano
	url = https://github.com/cran/ivolcano
[submodule "meme"]
	path = meme
	url = https://github.com/guangchuangyu/meme
[submodule "plotbb"]
	path = plotbb
	url = https://github.com/cran/plotbb
[submodule "rvcheck"]
	path = rvcheck
	url = https://github.com/guangchuangyu/rvcheck
[submodule "shadowtext"]
	path = shadowtext
	url = https://github.com/guangchuangyu/shadowtext
