[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "badger"]
	path = badger
	url = https://github.com/guangchuangyu/badger
[submodule "dlstats"]
	path = dlstats
	url = https://github.com/guangchuangyu/dlstats
[submodule "emojifont"]
	path = emojifont
	url = https://github.com/guangchuangyu/emojifont
[submodule "enrichplot"]
	path = enrichplot
	url = https://github.com/guangchuangyu/enrichplot
[submodule "fanyi"]
	path = fanyi
	url = https://github.com/cran/fanyi
[submodule "ggfun"]
	path = ggfun
	url = https://github.com/cran/ggfun
[submodule "ggimage"]
	path = ggimage
	url = https://github.com/guangchuangyu/ggimage
[submodule "ggplotify"]
	path = ggplotify
	url = https://github.com/guangchuangyu/ggplotify
[submodule "ggtreeDendro"]
	path = ggtreeDendro
	url = https://git.bioconductor.org/packages/ggtreeDendro
[submodule "gson"]
	path = gson
	url = https://github.com/cran/gson
[submodule "hexSticker"]
	path = hexSticker
	url = https://github.com/guangchuangyu/hexsticker
[submodule "meme"]
	path = meme
	url = https://github.com/guangchuangyu/meme
[submodule "plotbb"]
	path = plotbb
	url = https://github.com/cran/plotbb
[submodule "rvcheck"]
	path = rvcheck
	url = https://github.com/guangchuangyu/rvcheck
[submodule "scatterpie"]
	path = scatterpie
	url = https://github.com/guangchuangyu/scatterpie
[submodule "shadowtext"]
	path = shadowtext
	url = https://github.com/guangchuangyu/shadowtext
[submodule "shinyTempSignal"]
	path = shinyTempSignal
	url = https://github.com/cran/shinyTempSignal
[submodule "wikiprofiler"]
	path = wikiprofiler
	url = https://github.com/cran/wikiprofiler
[submodule "yulab.utils"]
	path = yulab.utils
	url = https://github.com/cran/yulab.utils
